{% extends "app/layout.html" %}

{% block ng-repeat %}Suprun{% endblock %}


{% block content %}
<div style="margin-top:51px">
<h1><a class="addBottom" href="{% url 'create' %}">ADD</a></h1>
</div>
    <div ng-controller="MainController">
        <div class="col-md-6" ng-repeat="post in posts">
        <div class="thumbnail">
            <img ng-src='{[{ post.image }]}' > 
            <a href="/myapp/{[{ post.id }]}"><p class="title">{[{ post.title }]}</p></a>
            <p class="title">{[{ post.author }]}</p>  
            <p class="date">{[{ post.timestamp | date }]}</p>
            <div id="checkFlags">
            <div ng-class="post.flag == true ? 'my_opacity1' : 'my_opacity0'" class="rating">
                <p class="likes" ng-click="plusOne($index)">+ {[{ post.likes }]} </p>
                <p class="dislikes" ng-click="minusOne($index)">- {[{ post.dislikes }]} </p>
            </div>
            <div ng-class="post.flag == false ? 'my_opacity1' : 'my_opacity0'">
                <p class="title">Vote is closed</p>
            </div>
            </div>
        </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
{% endblock %}
