{% extends "app/layout.html" %}

{% block content%}
<div class="row my_margin">
<div class="col-md-10">
<div>
<h1><a class="addBottom my-position" href="/myapp/{{ instance.id }}/edit">Edit</a></h1>
</div>
<div>
<h1><a class="addBottom my-position2" href="/myapp/{{ instance.id }}/delete">Delete</a></h1>
</div>
<h1>{{ title }}</h1>

<div class="col-md-6">
{% if instance.image %}
<img src='{{ instance.image.url }}' class='img-responsive'/>
{% endif %}
<h1>Book's title: {{ instance.title }}</h1>
<h2>Author: {{ instance.author }}</h2>
<h2>id: {{ instance.id }}</h2>
<h2>ISBN: {{ instance.isbn }}</h2>
</div>
</div>
</div>
{% endblock %}
