{% extends "app/layout.html" %}
{% block content %}
<div class="row">
<div class="col-md-8 my_margin">
	<h1>Create Form</h1>
	<form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
		<div class="form-group">
			<div class="col-md-10">
			{{ form.as_p }}
			</div>
		</div>
		<input class="btn btn-primary" type="submit" value="createpost" ></input>
	</form>	
</div>
</div>
{% endblock %}